<div class="sh">
   <div class="bg_skew_dot">

      <div class="shitu">
        お尻に丸みがなくフラット
      </div> 

      <div class="matome">
         <div class="yes">
   
               <%= link_to "YES", shapes_show_3_path %>
   
         </div>

         <div class="no">
  
               <%= link_to "NO", shapes_show_1_path %>
  
         </div>
      </div>
   </div>
  
</div>