<div class="sh">
   <div class="bg_skew_dot">

      <div class="shitu">
        手や肘、膝などの関節や骨が目立つ
      </div> 

      <div class="matome">
         <div class="yes">
   
               <%= link_to "YES", shapes_new_6_path %>
   
         </div>

         <div class="no">
  
               <%= link_to "NO", shapes_new_5_path %>
  
         </div>
      </div>
   </div>
  
</div>