<div class="back">
  <div class="ba">

    <div class="ai">
    明るめリップを付けると？
    </div> 

    <div class="shitumonmatome6">
     <div class="shitumon1">
       
        <%= link_to "口もとが明るくなる", colors_show_1_path %>
       
     </div>

     <div class="shitumon2">
      
        <%= link_to "白浮きして見える", colors_show_3_path %>
      
     </div>
    </div>
  </div>

</div>