<div class="back">
  <div class="ba">

    <div class="ai">
    良く使うリップは？
    </div> 

    <div class="shitumonmatome7">
     <div class="shitumon1">
       
        <%= link_to "ローズ、レッド", colors_show_4_path %>
       
     </div>

     <div class="shitumon2">
      
        <%= link_to "少しくすみのあるピンク", colors_show_2_path %>
      
     </div>
    </div>
  </div>

</div>