<div class="back">
  <div class="ba">

    <div class="ai">
        日焼けすると？
    </div> 

    <div class="shitumonmatome4">
     <div class="shitumon1">
       
        <%= link_to "赤くなって戻る", colors_show_1_path %>
       
     </div>

     <div class="shitumon2">
      
        <%= link_to "すぐに黒くなる", colors_new_6_path %>
      
     </div>
    </div>
  </div>

</div>