<div class="back">
  <div class="ba">

    <div class="ai">
      顔全体の印象は？
    </div> 

    <div class="shitumonmatome5">
     <div class="shitumon1">
       
        <%= link_to "華やか、クール", colors_show_4_path %>
       
     </div>

     <div class="shitumon2">
      
        <%= link_to "ふんわり、優しい", colors_new_7_path %>
      
     </div>
    </div>
  </div>

</div>