<div class="back">
  <div class="ba">

     <div class="ai">
        日焼けすると？
     </div> 

     <div class="ai1">
      <td>
        <%= link_to "赤くなって戻る", colors_show_1_path %>
      </td>

      <td>
        <%= link_to "すぐに黒くなる", colors_new_6_path %>
      </td>
     </div>
  </div>

</div>