<div class="back">
  <div class="ba">

    <div class="ai">
     水色やパープルのトップスは？
    </div> 

    <div class="shitumonmatome2">
     <div class="shitumon1">
       
        <%= link_to "あまり着ない", colors_new_4_path %>
       
     </div>

     <div class="shitumon2">
      
        <%= link_to "よく着る", colors_new_5_path %>
      
     </div>
    </div>
  </div>

</div>