<div class="back">
  <div class="ba">

    <div class="ai">
    夏のピアスを付けるなら？
    </div> 

    <div class="shitumonmatome1">
     <div class="shitumon1">
       
        <%= link_to "ゴールド×ターコイズ", colors_new_2_path %>
       
     </div>

     <div class="shitumon2">
      
        <%= link_to "シルバー×パープル", colors_new_3_path %>
      
     </div>
    </div>
  </div>

</div>