<div class="back">
  <div class="ba">

    <div class="ai">
     ブラウンやベージュ系のヘアカラーに<br>すると？
    </div> 

    <div class="shitumonmatome3">
     <div class="shitumon1">
       
        <%= link_to "黒よりなじむ", colors_new_4_path %>
       
     </div>

     <div class="shitumon2">
      
        <%= link_to "傷んで見えがち", colors_new_5_path %>
      
     </div>
    </div>
  </div>

</div>