// Place all the styles related to the colors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
    margin: 0;
    padding: 0;
}
.ai{
    font-size: 100px;
    text-align: center;
}

.ai1{
    text-align: center;
   
}


.back{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.ba{
    height: 100px

}